root = true

[*.lua]
indent_style = space
indent_size = 2
continuation_indent = 2
quote_style = double
max_line_length = 120
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
call_parentheses = true
